Research how to deal with multiple cookie headers in the request

This came up on https://github.com/js-cookie/java-cookie/issues/10#issuecomment-166773644

As from [RFC 6265 section 5.4](http://tools.ietf.org/html/rfc6265#section-5.4):

> When the user agent generates an HTTP request, the user agent MUST NOT attach more than one Cookie header field.

The wording "MUST NOT" means, according to [RFC 2119](https://www.ietf.org/rfc/rfc2119.txt), that:

> ... the definition is an absolute prohibition of the specification.

As a conclusion, the assumption should be that the User Agent respects the specification and sets the Cookie Header correctly. Therefore there is no need for a fix because there is no bug.

If for some reason a User Agent do not respect the specification, it should be fixed in the User Agent side, not in Java Cookie. Also, if the User Agent is considerably mainstream, one can always request for the RFC 6265 to be updated to consider multiple Headers as a [_De facto_ Standard](https://en.wikipedia.org/wiki/De_facto_standard).

Neverthless, I have never seen a User Agent sending more than one cookie header to the request.

For details, see [this StackOverflow answer](http://stackoverflow.com/a/18967872/1400037).
Pinging @roelstorms for awareness.
